<h1>CLOSE ACCOUNT</h1>
     <h5>CUSTOMER NAME : <%= @cal.customer_name %></h5>
     <h5>OPENING DATE : <%= @cal.opening_date%></h5>
     <h5>RATE OF INTEREST : <%= @cal.roi%></h5>
     <h5>AMOUNT : <%= @cal.amount%></h5>
     <h5>TRANSCATION_TYPE : <%= @cal.transaction_type%></h5>
     <h5>NO OF DAYS : <%= @cal.no_of_days%> </h5>      
     <h5>CLOSING DATE : <%= @cal.closing_date %> </h5>

    <a href="/cals">Back</a>     

